/*
font-family: 'Comfortaa', cursive;
font-family: 'Cormorant Garamond', serif;
font-family: 'Cormorant Infant', serif;
font-family: 'Forum', cursive;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto', sans-serif;
*/

body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
}
a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}
